.uno{
     color: rgb(109, 11, 11);
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background: #171717;
    width: 100%;
    z-index: 100;
}

.play {
display: flex;
margin-right: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Logo {
  margin-left: 30px;   
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.play a {
    display: block;
    padding: 23px 25px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}


body{
    background-image: url(./fondo1.jpg);
}

* {
    margin: 0;
    box-sizing: border-box;
}


.items{
   
    object-fit: cover;
    transition: all .4s;
}

.items{
    overflow: hidden;
}

.items:hover {
    transform: scale(1.1);
}


.items{
    border-radius: 20px;
    
}


/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
